* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-off-white {
    background-image: url("../images/off-white-bg.png");
}

.bg-orange {
    background-image: url("../images/orange-bg.png");
}